= form_for ['admin', @admin_feedback] do |f|
  .field
    = f.label :content
    = f.text_field :content
  .field
    = f.label :user_id
    = f.number_field :user_id
  .actions
    = f.submit 'Save'
