.panel.panel-default
  .panel-heading
    %span.glyphicon.glyphicon-envelope
    = page_title
  .panel-body
    %table.table
      %tr
        %th= Feedback.human_attribute_name(:user_id)
        %th(width='50%')= Feedback.human_attribute_name(:content)
        %td.edit-icon= I18n.t("labels.edit")
        %td.trash-icon= I18n.t("labels.delete")
      - @admin_feedbacks.each do |feedback|
        %tr
          %td= feedback.user.name || feedback.user.email
          %td= link_to truncate(feedback.content, length: 40), ['admin', feedback]
          %td.edit-icon= link_to content_tag(:span, "", class: "glyphicon glyphicon-edit"), edit_admin_feedback_path(feedback)
          %td.trash-icon= link_to content_tag(:span, "", class: "glyphicon glyphicon-trash"), ['admin', feedback], method: :delete, data: { confirm: "Are you sure?" }
