.panel.panel-default
  .panel-heading
    %span.glyphicon.glyphicon-envelope
    = page_title
  .panel-body
    %p
      = Feedback.human_attribute_name(:user_id) + I18n.t("code.colon")
      = @feedback.user.name || @feedback.user.email
    %blockquote= simple_format(@feedback.content)
    %table.table.non-border
      %tr
        %td
        %td.return-icon= link_to content_tag(:span, "", class: "glyphicon glyphicon-share-alt"), new_admin_feedback_answer_path(feedback_id: @feedback.id)
        %td.edit-icon= link_to content_tag(:span, "", class: "glyphicon glyphicon-edit"), edit_admin_feedback_path(@feedback)
        %td.trash-icon= link_to content_tag(:span, "", class: "glyphicon glyphicon-trash"), ['admin', @feedback], method: :delete, data: { confirm: "Are you sure?" }

    = render partial: @feedback.answers
