.panel.panel-default
  .panel-heading
    %span.glyphicon.glyphicon-list-alt
    = page_title
  .panel-body
    = render partial: 'records/links'
    %table.table.record
      %tr
        %th= ""
        %th= Record.human_attribute_name(:published_at)
        %th= Record.human_attribute_name(:category_id)
        %th= Record.human_attribute_name(:breakdown_id)
        %th= Record.human_attribute_name(:charge)
      = render @records
