.panel.panel-default
  .panel-heading
    %span.glyphicon.glyphicon-film
    = page_title
  .panel-body
    %p= raw I18n.t("terms.exordium")
    %hr
    %h4
      %span.glyphicon.glyphicon-thumbs-up
      = I18n.t("terms.title.direction")
    %span= raw I18n.t("terms.direction")
    %h4
      %span.glyphicon.glyphicon-thumbs-up
      = I18n.t("terms.title.note")
    %span= raw I18n.t("terms.note")
    %h4
      %span.glyphicon.glyphicon-thumbs-up
      = I18n.t("terms.title.privacy")
    %span= raw I18n.t("terms.privacy")
    %h4
      %span.glyphicon.glyphicon-thumbs-up
      = I18n.t("terms.title.immunity")
    %span= raw I18n.t("terms.immunity")
    %h4
      %span.glyphicon.glyphicon-thumbs-up
      = I18n.t("terms.title.copyright")
    %span= raw I18n.t("terms.copyright")
    %h4
      %span.glyphicon.glyphicon-thumbs-up
      = I18n.t("terms.title.environment")
    %span= raw I18n.t("terms.environment")
    %h4
      %span.glyphicon.glyphicon-thumbs-up
      = I18n.t("terms.title.links")
    %span= raw I18n.t("terms.links")
    %h4
      %span.glyphicon.glyphicon-thumbs-up
      = I18n.t("terms.title.proper_law")
    %span= raw I18n.t("terms.proper_law")
