.panel.panel-default
  .panel-heading
    %span.glyphicon.glyphicon-tags
    = page_title
  .panel-body
  
    = form_for @category do |f|
      - checked = @category.barance_of_payments
      - if @category.errors.any?
        #error_explanation
          %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
          %ul
            - @category.errors.full_messages.each do |msg|
              %li= msg

      .form-group
        .btn-group{"data-toggle" => "buttons"}
          %label.btn.btn-defaults.btn-checkbox.minus-sign(class="#{checked ? '' : 'active'}")
            = f.radio_button :barance_of_payments, 0
            = content_tag(:span, "", class: "glyphicon glyphicon-minus-sign") + I18n.t("category.outgo")
          %label.btn.btn-defaults.btn-checkbox.plus-sign(class="#{checked ? 'active' : ''}")
            = f.radio_button :barance_of_payments, 1
            = content_tag(:span, "", class: "glyphicon glyphicon-plus-sign") + I18n.t("category.income")
      .form-group
        = f.label :name, class: "control-label"
        = f.text_field :name, placeholder: I18n.t("example.category"), class: "form-control"
      = f.submit class: "btn btn-default"
