.panel.panel-default
  .panel-heading
    %span.glyphicon.glyphicon-tags
    = page_title
  .panel-body
    %table.table
      = render partial: "category", locals: { category: @category }
    %ul.list-unstyled
      %li= content_tag(:span, "", class: "glyphicon glyphicon-th-list") + I18n.t("menu.breakdown")
    %table.table
      = render @breakdowns
    %ul.list-unstyled
      %li= content_tag(:span, "", class: "glyphicon glyphicon-list-alt") + I18n.t("menu.record")
    %table.table
      = render @records
