- if current_user
  %ul.list-group
    %li.list-group-item= link_to content_tag(:span, "", class: "glyphicon glyphicon-pencil") + I18n.t("menu.new_record"), new_record_path
  %ul.list-group
    %li.list-group-item= link_to content_tag(:span, "", class: "glyphicon glyphicon-stats") + I18n.t("menu.dashboard"), dashboard_path
    %li.list-group-item
      = link_to content_tag(:span, "", class: "glyphicon glyphicon-list-alt") + I18n.t("menu.record"), records_path
    %li.list-group-item= link_to content_tag(:span, "", class: "glyphicon glyphicon-import") + I18n.t("menu.import"), csv_new_path
    %br
    .panel-group.menu#accordion
      .panel.panel-default
        .panel-heading
          %h4.panel-title= link_to content_tag(:span, "", class: "glyphicon glyphicon-cog") + I18n.t("menu.setting"), "#collapseOne", class: "collapse", id: "accordion", "data-toggle" => "collapse"
        #collapseOne.panel-cllapse.collapse(class="#{setting_menu? ? '' : 'in'}")
          .panel-body.menu
            %ul
              %li.list-group-item.categories-list= link_to content_tag(:span, "", class: "glyphicon glyphicon-tags") + I18n.t("menu.category"), categories_path
              %li.list-group-item= link_to content_tag(:span, "", class: "glyphicon glyphicon-th-list") + I18n.t("menu.breakdown"), breakdowns_path
              %li.list-group-item= link_to content_tag(:span, "", class: "glyphicon glyphicon-map-marker") + I18n.t("menu.place"), places_path
              %li.list-group-item= link_to content_tag(:span, "", class: "glyphicon glyphicon-bookmark") + I18n.t("menu.tag"), tags_path
  = render partial: "feedback_field"

- else
  %ul.list-group
    %li.list-group-item= link_to content_tag(:span, "", class: "glyphicon glyphicon-stats") + I18n.t("menu.dashboard"), dashboard_path
