%ul.list-group
  %li.list-group-item= link_to I18n.t("menu.new_record"), new_record_path
%ul.list-group
  %li.list-group-item= link_to I18n.t("menu.category"), categories_path
  %li.list-group-item= link_to I18n.t("menu.breakdown"), breakdowns_path
  %li.list-group-item= link_to I18n.t("menu.record"), records_path

%ul.nav.nav-pills
  - if @years
    - @years.each do |key, value|
      %li= link_to key.to_s + I18n.t("date.year"), records_path(year: key)
