.panel.panel-default
  .panel-heading
    %span.glyphicon.glyphicon-map-marker
    = page_title
  .panel-body
    = form_for @place, remote: true, html: { role: "form", class: "form-horizontal" } do |f| 
      .form-group
        = f.label :name, I18n.t("labels.place"), class: "col-sm-2 control-label"
        .col-sm-10
          = f.text_field :name, placeholder: I18n.t("example.place"), class: "form-control"
    = render partial: "places", locals: { places: @places }
