- if @resource.confirmed_at.nil?
  %p= raw I18n.t("mail.confirmation_instructions.body1")
  %p= User.human_attribute_name(:email) + I18n.t("code.colon") + @email
  %br

  %p= raw I18n.t("mail.confirmation_instructions.body2")
  %p= link_to "#{confirmation_url(@resource, confirmation_token: @token)}", confirmation_url(@resource, confirmation_token: @token)
  %br

- else
  %p= raw I18n.t("mail.confirmation_instructions.body5")
  %p= User.human_attribute_name(:email) + I18n.t("labels.before_edit") + I18n.t("code.colon") + @resource.email
  %p= User.human_attribute_name(:email) + I18n.t("labels.after_edit") + I18n.t("code.colon") + @resource.unconfirmed_email
  %br

  %p= raw I18n.t("mail.confirmation_instructions.body6")
  %p= link_to "#{confirmation_url(@resource, confirmation_token: @token, confirmation_type: "edit")}", confirmation_url(@resource, confirmation_token: @token, confirmation_type: "edit")

%p= raw I18n.t("mail.confirmation_instructions.body3")
%br

%p= raw I18n.t("mail.confirmation_instructions.body4")
%br
