%blockquote
  %footer= I18n.t("messages.users.twitter_user_login")

.form.form-horizontal
  .form-group
    .col-sm-2.align-right= User.human_attribute_name(:name)
    .col-sm-10= resource.name
  .form-group
    .col-sm-2.align-right= User.human_attribute_name(:nickname)
    .col-sm-10= resource.nickname
  .form-group
    .col-sm-2.align-right= User.human_attribute_name(:email)
    .col-sm-10
      - if resource.email.blank?
        = I18n.t("messages.users.blank")
        %span= link_to I18n.t("buttons.create"), users_edit_email_path if resource.unconfirmed_email.nil?
      - else
        = resource.email
        %span= link_to I18n.t("links.edit_email"), users_edit_email_path
  - if resource.unconfirmed_email.present?
    .form-group
      .col-sm-2
      .col-sm-10.unconfirmed_email
        = I18n.t("labels.unconfirmed_email") + I18n.t("code.colon")
        = resource.unconfirmed_email
        %span= link_to I18n.t("links.edit_email"), users_edit_email_path
        %span= link_to I18n.t("links.destroy"), users_delete_unconfirmed_email_path, method: :post
