.panel.panel-default
  .panel-heading
    %span.glyphicon.glyphicon-user
    = page_title
  .panel-body
    - if current_user.type.nil?
      = render "original_user_profile"
    - else
      = render "twitter_user_profile"
    .align-right
      = link_to I18n.t("links.edit_user"), edit_user_registration_path, class: "btn btn-info" if current_user.type.nil?
      = link_to I18n.t("links.cancel_user"), cancel_user_registration_path, class: "btn btn-info"
    %hr
    %dl.dl-horizontal
      %dt= I18n.t("labels.number_of_registered_records")
      %dd= current_user.records.count
